:root {
  --message-form-height: 3rem;
}

.message-form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: var(--message-form-height);
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
.message-input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 8px;
  margin: 0.25rem;
}
.message-input:focus {
  outline: none;
}
.message-form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.messages > li {
  padding: 0.5rem 1rem;
}
.messages > li:nth-child(odd) {
  background: #efefef;
}

.messages > li > span {
  display: inline-block;
}
.messages > li > span,
.msg-addres {
  margin-right: 20px;
}

.join-list {
  position: fixed;
  bottom: calc(var(--message-form-height) + 0.5rem);
  right: 0;
  text-align: center;
  max-height: 100vh;
  min-width: 12em;
  /* border: 2px solid #f0f0f0; */
  box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc, 2px -2px 2px #ccc,
    -2px 2px 2px #ccc;
  overflow: auto;
}

.join-list button {
  font-size: 16px;
  padding: 0.2em;
  background-color: #007bff; /* 初始背景颜色 */
  color: #fff; /* 文字颜色 */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* 添加平滑过渡 */
}

.join-list button:active {
  background-color: #ff5733;
}

button:active {
  background-color: #ccc;
}

.join-list li {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.join-list li + li {
  border-top: 2px solid #f0f0f0;
}
