.List {
  border: 1px solid #d9dddd;
  border-radius: 0.5rem;
  height: calc(100vh-2rem);
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f8f8f0;
}

.ListItemContent {
  height: 100%;
  overflow: auto;
}
